<!DOCTYPE>
<html ng-app="app">
<head>
    <title>Chronos - Event planer</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body >
    <header class="info">
        <div ng-controller="mainPage">
            <p id="title">{{title}}</p>
            <button id="log-in-btn" type="button" class="btn btn-default pressed" ng-click="openLogIn()">Log In</button>
            <button id="register-btn" type="button" class="btn btn-dafault" ng-click="openRegister('lg')"> Register</button>

        </div>
    </header>

    <footer class="info">
        <p>This is a footer</p>
    </footer>

    <script type="text/ng-template" id="logIn.html">
        <div class="modal-header">
            <h3 id="login-modal-title">Log In</h3>
        </div>
        <div class="modal-body">
            <form id="login-form">
                User Name:
                <input type="text" placeholder="User Name" ng-model="user.userName" ng-value="userName"><br>
                Password:
                <input id="login-password" type="password" placeholder="Password" ng-model="user.password" ng-value="password"><br>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-warning" id="log-in" ng-click="logIn()">Log In</button>
            <button class="btn btn-default" id="close-btn" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="register.html">
        <div class="modal-header">
            <h3 id="register-modal-title">Register</h3>
        </div>
        <div class="modal-body">
            <form id="register-form">
                User Name:
                <input type="text" placeholder="User Name" ng-model="newUser.userName" ng-value="userName">
                First Name:
                <input type="text" placeholder="First Name" ng-model="newUser.firstName" ng-value="firstName"><br>
                Password:
                <input type="password" id="register-password" placeholder="Password" ng-model="newUser.password" ng-value="password">
                Last Name:
                <input type="text" placeholder="Last Name" ng-model="newUser.lastName" ng-value="lastName"><br>
                Confirm Password:
                <input type="password" placeholder="Re-enter Password" ng-model="newUser.confirmPassword" ng-value="confirmPassword">
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="register()">Register</button>
            <button class="btn btn-default" id="close-btn" ng-click="closeModal()">Cancel</button>
        </div>
    </script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--<script type="text/javascript" src="controllers/homePageController.js"></script>-->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="services/registerService.js"></script>
</body>
</html>
